# This file contains package requirements for the deployment
# installed via PIP. Installed before deployment initialization

keras==2.15.0
tensorflow==2.15.1
imageio==2.5.0
numpy==1.24.0
h5py==3.11.0
Pillow==10.3.0
protobuf==4.25.3